@charset "utf-8";
/* CSS Document */

body {background:#666 url(../images/adam_site_bg.png) repeat-x top; font-family:Arial, Helvetica, sans-serif; font-size:75%; margin:0; padding:0;}

div#container {width:900px; margin:10px auto; padding:0 11px; background:url(../images/adam_bg.png) repeat-y center;}
div#header {background:url(../images/electricians-header-licensing.jpg) no-repeat top left; height:100px; width:900px; overflow:hidden;}
div#header_per {background:url(../images/electricians-header-permitting.jpg) no-repeat top left; height:100px; width:900px; overflow:hidden;}
div#header_per_admin {background:url(../images/electricians-header-permitting-admin.jpg) no-repeat top left; height:80px; width:900px; overflow:hidden;}
div#header h1, div#header h2, div#header_per h1, div#header_per h2, div#header_per_admin h1, div#header_per_admin h2 {visibility:hidden;}

div#body_holder {background:#e6e6e6 url(../images/adam_gray_fade.png) repeat-x top; padding:8px 0;}
div#side_col {margin-left:8px; width:172px; float:left;}
div#main_col {margin:0 8px 0 8px; padding:8px; background-color:#fff;}

div#top_nav_holder {background-color:#000647; color:#fff;}
ul#top_nav_list {margin:0 0 0 180px; padding:0;}
ul#top_nav_list li {margin:0 2px 0 0; padding:0; list-style:none; float:left; display:inline;}
ul#top_nav_list li a, ul#top_nav_list li a:visited {display:block; float:left; padding:6px 8px 4px 8px; margin-top:4px; color:#fff; text-decoration:none; font-weight:bold; -moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0;}
ul#top_nav_list li a:hover, ul#top_nav_list li a:active, ul#top_nav_list li a.selected, ul#top_nav_list li a.selected:visited {background:#ccc url(../images/adam_dkgy_fade.png) repeat-x top; color:#000647;}

ul#side_nav {margin:0; padding:0;}
ul#side_nav li {margin:0; padding:0; list-style:none;}
ul#side_nav li a, ul#side_nav li a:visited {display:block; padding:4px 8px; text-decoration:none; border-bottom:1px solid #fff;color:#333;}
ul#side_nav li a:hover, ul#side_nav li a.selected {background-color:#fff;}
ul#side_nav li a:focus, ul#side_nav li a:active {outline:none;}
ul#side_nav li a.haskids {background-image:url(../images/arrow-down-light.png); background-repeat:no-repeat; background-position:right center; }
ul#side_nav li a.haskids:hover {background-image:url(../images/arrow-down-dark.png); background-repeat:no-repeat; background-position:right center; }
ul#side_nav li a.haskids.selected {background-image:url(../images/arrow-up-light.png); background-repeat:no-repeat; background-position:right center; }
ul#side_nav li a.haskids.selected:hover {background-image:url(../images/arrow-up-dark.png); background-repeat:no-repeat; background-position:right center; }
ul#side_nav li ul {display:none; margin:4px 0 8px 0; padding:0;}
ul#side_nav li ul li {margin:0 0 0 10px; padding:1px 0;}
ul#side_nav li ul li a, ul#side_nav li ul li a:visited {margin:0 8px 0 0; padding:0 2px 0 5px; border-bottom:none; border-left:5px solid #376077;}
ul#side_nav li ul li a:hover, ul#side_nav li ul li a.selected, ul#side_nav li ul li a.selected:visited {border-left:5px solid #D28923;}

ul.tab_nav {margin:0 0 1em 0; padding:4px 0 0 0; background:#f90 url(../images/tab-nav-bg.png) repeat-x top; border-bottom:1px solid #c90; height:21px;}
ul.tab_nav li {margin:0; padding:0; list-style:none; display:inline; float:left;}
ul.tab_nav li a, ul.tab_nav li a:visited {display:block; float:left; padding:4px 8px 3px 8px; margin-left:4px; line-height:14px; background-color:#FFEECE; text-decoration:none; color:#000; -moz-border-radius:3px 3px 0 0; -webkit-border-radius:3px 3px 0 0;}
ul.tab_nav li a:hover {background-color:#fff; }
ul.tab_nav li a.selected, ul.tab_nav li a:visited.selected {padding:4px 8px 4px 8px; background-color:#fff; font-weight:bold;}

/*type and tags*/
h1, h2, h3, h4, h5, h6 {font-family:Verdana, Arial, Helvetica, sans-serif; font-weight:normal; margin:0; padding:0;}
h1 {font-size:1em; text-transform:uppercase; font-weight:bold; color:#666; margin-bottom:1em; padding-bottom:2px; border-bottom:1px solid #ccc;}
h2 {font-size:1.3em; font-weight:bold; margin-bottom:0.75em; padding-top:0.5em; color:#0B1665;}
h3 {font-size:1.15em; margin:0.3em 0 0.9em 0; color:#DB891A;}
.steps_holder h3 {color:#000971; font-weight:bold;}
h4 {margin:1em 0 0.5em 0; font-size:1em; color:#233790; font-weight:bold;}
h5 {color:#666; font-size:0.9em; margin:0.5em 0; font-weight:bold;}

p {margin:0 0 1em 0; line-height:1.5em;}
ul, ol {margin:0 0 1em 0; padding:0;}
ul li {margin:2px 0 2px 30px; padding:0;}
ol li {margin:2px 0 2px 35px; padding:0;}

.big {font-size:1.1em;}

ul.nobullet li {list-style:none;}

table.data {width:100%; margin:0 0 1em 0;}
table.r-mar {margin-right:10px; width:98%;}
table.data th {border-bottom:1px solid #999; text-align:left; vertical-align:bottom; padding:3px 2px 1px 2px;}
table.data td {border-bottom:1px dotted #999; text-align:left; vertical-align:top; padding:3px 2px;}
table.data tr:hover td {background-color:#FFEECE;}

span.help_item {font-weight:normal; background-color:#86B85F; }
span.help_item a, span.help_item a:visited {color:#fff; font-weight:bold; text-decoration:none; padding:0 3px;}

div.module {margin:0 10px 10px 0; border-bottom:1px solid #e6e6e6; padding-bottom:1px;}

div.equal_col_1 {float:left; width:346px; padding-right:9px; border-right:1px solid #e6e6e6;}
div.equal_col_2 {margin-left:366px; padding-left:10px;}

div.weighted_col_1 {float:left; width:426px; padding-right:10px; }
div.weighted_col_2 {margin-left:436px; padding-left:9px; border-left:1px solid #e6e6e6;}

div.right {width:200px; float:right;}
div.right_pad {width:190px; padding-left:10px; float:right;}
div.left {margin-right:200px;}
div.bright {border-right:1px solid #e6e6e6;}

div.notice {padding:8px; background:#FAF2BE url(../images/adam_notice_corner.png) no-repeat top left; border:1px solid #EAD77B; margin-bottom:8px;}
.vital {}

div.steps_holder {border-top:3px solid #000971; padding-top:1px;}
div.steps {background-color:#EAEFF7;}
div.step_intro {padding:15px; background-color:#DBE3F0;}
div.form_holder {padding-top:1em;}
ol.step_list {margin:0; padding:0;}
ol.step_list li {margin:0; padding:0; list-style-position:inside; padding:0.35em 1em;}
ol.step_list li.selected {font-style:italic; font-weight:bold; background-color:#DBE3F0;}

form {margin:0; padding:0;}
form label, div.label {font-weight:bold; text-transform:capitalize;}
/*form div.itemHolder {padding:0.5em 2px; border-top:1px solid #000647; position:relative;}*/
form div.itemHolder {padding:0.75em 2px; position:relative;}
form div.attention {background-color:#FFE6E6; color:#c00;}
.setoff {border: solid #EAA64A; border-width:1px 0; background-color:#FFEECE;}
form div.inputHolder label {font-weight:normal; text-transform:none; margin-right:1em; vertical-align:text-top;}
form input.button {padding:2px 8px; border:1px outset #f90; background-color:#EAA64A; color:#fff;}
form input.submit {font-weight:bold; border:1px outset #f60; background-color:#DB891A; }
form input.button:hover {text-decoration:underline; background-color:#DB891A;}
form input.submit:hover {text-decoration:underline; background-color:#C87C17;}
form input.text {padding:4px 2px; margin:0 0.5em 0.25em 0; font-family:Tahoma, "Lucida Grande", Helvetica, sans-serif; font-size:100%; border:2px solid #ccc;}
form input.checkbox {margin:4px 2px 0 0; padding:0; }
form select, form textarea {padding:4px 2px; margin:0 0.5em 0.25em 0; font-family:Tahoma, "Lucida Grande", Helvetica, sans-serif; font-size:100%; border:2px solid #ccc;}
form .width {width:486px; margin-right:0;}
form .width_half {width:243px; margin-right:0;}
form input:focus, form select:focus, form textarea:focus {border-color:#DB891A;}
form div.inputDirection {display:none; background-color:#233891; color:#fff; padding:5px; width:190px; position:absolute; top:2.7em; right:-200px; font-size:0.8em; border-bottom:1px solid #000647;}
form div.inputDirection div.check {position:absolute; top:0; left:-12px; width:12px; height:12px; background:url(../images/coolcheck.gif) no-repeat; overflow:hidden; } 
form input.date {width:9em;}
div.inputDesc {background-color:#FAF2BE; color:#666; font-size:0.8em; padding:3px 4px 4px 5px; line-height:1.3em; margin:0.5em 0 0 0; border: solid #EAD77B; border-width:0 1px 1px 0;}

button {padding:2px 5px; border:1px outset #EAA64A; background:#F0C080 url(../images/adam-button-bg-off.png) repeat-x top; color:#fff; -moz-border-radius:6px; -webkit-border-radius:6px;}
button:hover {background:#EAA64A url(../images/adam-button-bg.png) repeat-x top;}

form ul.items {margin:0.75em 0; padding:0; border-top:1px dotted #999;}
form ul.items li {margin:0; padding:0.5em 0; list-style:none; border-bottom:1px dotted #999;}
form ul.items li:hover {background-color:#FFEECE;}
form ul.items li ul {margin:0 0 0 2em;}
form ul.items li ul li {border-width:0;}
form em {color:#999;}

input.controls {width:4em;}
span.controls { display:inline-block; top:7px; left:-4px; position:relative; height:1px; padding:11px 5px;}
span.controls span.up {display:block; position:absolute; top:0; left:0; width:11px; height:10px; background:url(../images/tiny-up.png) no-repeat top left; overflow:hidden; text-indent:-1000px;}
span.controls span.down {display:block; position:absolute; bottom:0; left:0; width:11px; height:10px; background:url(../images/tiny-down.png) no-repeat top left; overflow:hidden; text-indent:-1000px;}

a, a:visited {color:#4F8AAA;}
a:hover {color:#000;}

.clear {clear:both;}
.hide {display:none;}

/*Uniqueskies */

a#new_contractor_button, a#new_contractor_button:visited {display:block; width:270px; height:68px; overflow:hidden; text-indent:-5000px; background:url(../images/adam-new-contractor.png) no-repeat top left;}
a#new_contractor_button:hover {background:url(../images/adam-new-contractor.png) no-repeat bottom left;}
a#new_homeowner_button, a#new_homeowner_button:visited {display:block; width:270px; height:68px; overflow:hidden; text-indent:-5000px; background:url(../images/adam-new-homeowner.png) no-repeat top left;}
a#new_homeowner_button:hover {background:url(../images/adam-new-homeowner.png) no-repeat bottom left;}
